@import "tailwindcss";

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
}

@theme {
  --color-relaxing-purple: rgb(92, 82, 133);
  --color-relaxing-blue: #546575;
  --color-overbright-purple: #786e9f;
  --color-navbar-navy: rgb(4, 22, 32);
  --color-knob-white: #fdfcff;
  --color-salvation-green: rgb(0, 153, 102);
  --color-secondary-blue: #2078d7;
  --color-caution-orange: #c16c22;
}
